<!-- Data binding -->
<h1>{{title}}</h1>

<!-- Property binding -->
<h1 [innerText]="title"></h1>
<button [disabled]="isDisabled">Send</button>


<!-- Event binding -->
<br /><br />
<button (click)="onSave()">Save</button>


<!-- Uppgift: skapa en knapp count som ökar en siffra på skärmen. -->

<button on-click="add()">{{num}}</button>
<div>{{num}}</div>

<input (input)="handleInput($event)">
<div>{{value}}</div>


<!-- Two way data binding -->
<h2>Two way data binding</h2>
<input (input)="name=$event.target.value" />
<div>{{name}}</div>


<app-customer-list></app-customer-list>
<app-customer-list></app-customer-list>
<app-customer-list></app-customer-list>